<ul>
  <li>Common dosing is 1mL/10gal of this solution daily or every other day.</li>
  <li>Dose 5mL/10gal after water changes.</li>
  <li>Many folks double or triple the daily dose as an algaecide.</li>
  <li>Certain plants, such as Anacharis or Vallisneria sp., generally don't like glut.</li>
  <li>Don't add any "Activator" or "Plus" bottle that may have come with your Glutaraldehyde source.</li>
  <li>Glutaraldehyde is dangerous!  Be careful, don't drink it, don't breathe it in, wash any skin contact, etc, etc.</li>
  <li>This calculator has no warranty but is <a href="https://github.com/flores/glut">open source</a>.</li>
</ul>
